/* *******************************STYLES************************************* */

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

/* *******************************GLOBAL************************************* */

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 10%;
}


/* *******************************TITLE************************************** */


/* NAV BAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* TITLE PAGE */

#title {
  background-color: #ff4c68;
}

.title-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #ffffff;
}

.title-img img {
  width: 60%;
  position: absolute;
  transform: rotate(25deg);
  right: 30%;
}

@media  (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img img {
    position: static;
    transform: rotate(0);
  }

}

/* DOWNLOAD BUTTONS  */

.download-button {
  margin: 3% 5% 3% 0;
}

/* FEATURES */

#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.feature-details {
  font-family: 'Montserrat', sans-serif;
  /* padding: 4.5rem 0; */
}

.feature-details h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.feature-details i {
  width: 200px;
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-details i:hover {
  color: #ff4c68;
}

.feature-details p {
  color: #8f8f8f;
  padding: 0 5%;
}

/* TESTIMONIALS */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #ffffff;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* PRESS */

#press {
  text-align: center;
  background-color: #ef8172;
  padding: 3%;
}

.press-logo img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING */

#pricing {
  text-align: center;
  padding: 7% 15%;
}

.pricing-col {
  padding: 3% 2%;
}

/* CTA */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#cta h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #ffffff;
}

.download-button-cta {
  margin: 3% 1%;
}

/* FOOTER */

#footer {
  text-align: center;
  padding: 7% 15% 3%;
}

#footer ul {
  list-style-type: none;
  padding: 0;
}

#footer ul li {
  margin: 1% 1%;
}
